*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

    transition: all 0.2s linear;

}
:root{
    --corol:#F79489;
    --Dusty:#F8AFA6;
    --rose:#FADCD9;
    --firsr:#F9F1F0;
}
body{
    font-family: sans-serif;
    background-color:var(--firsr);
    overflow-x: hidden;
    padding-left: 35rem;
}
*::selection{
    background-color: var(--rose);
    color: var(--firsr);
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
html::-webkit-scrollbar{
    width:1.4rem;
}
html::-webkit-scrollbar-track{
    background-color: #222;
}
html::-webkit-scrollbar-thumb{
    background:var(--corol);
}
header{
    position: fixed;
    top: 0;
    left:0;
    z-index: 1000;
    height: 100%;
    width:35rem;
    background-color: var(--corol);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}
header .user img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: 0.7rem solid var(--Dusty);
     
}
header .user .name{
    font-size: 3.5rem;
    color:var(--firsr);
}
header .user .post{
    font-size: 2rem;
    color:var(--Dusty);

}
header .navebar{
    width:100%;

}
header .navebar ul{
    list-style: none;
    padding: 1rem 3rem;

}
header .navebar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: var(--rose);
    color: var(--Dusty);
    font-size: 2rem;
    border-radius: 5rem;
}
header .navebar ul li a:hover{
    background-color: var(--Dusty);
}
#menu{
    position: fixed;
    top:2rem;
    right: 2rem;
    background-color: var(--Dusty);
    color:var(--firsr);
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
}

.btn{
    padding: 0.7rem 3rem;
    background-color: var(--Dusty);
    color:var(--firsr);
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
    outline: none;
    border: none;
}
.btn i{
    padding: 0 0.5rem;
    font-size: 1.8rem;
}
.btn:hover{
    background-color: var(--rose);
}
section{
    min-height: 100vh;
    padding: 1rem;
    min-width:500px;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}
.home h3{
    font-size: 2.5rem;
    color:var(--corol);

}
.home h1{
    font-size: 5rem;
    color:var(--corol);
    
}
.home p{
    font-size: 2rem;
    color:var(--corol);
    padding: 1rem 0;
    
}
.home h1 span{
   
    color:var(--Dusty);
    
}
.heading{
    text-align:center;
    margin: 0 6rem;
    font-size:  4rem;
    padding: 1rem;
    border-bottom: 0.1rem solid var(--Dusty);
    color: var(--corol);

}
.heading span{
    color: var(--rose);
}
.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}
.about .row .info{
    flex:1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}
.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  

}
.about .row .info h3{
    font-size: 2rem;
    color:var(--Dusty);
    padding:  1rem 0;
    font-weight: normal;
}
.about .row .info h3 span{
    color:var(--corol);
    padding: 0  0.5rem;
}
.about .row .counter .box{
    width:20rem;
    background: var(--rose);
    text-align: center;
    padding: 2rem;
    margin:2rem;
}
.about .row .counter .box span{
    font-size: 4rem;
    color: var(--Dusty);

}
.about .row .counter .box h3{
    font-size: 2rem;
    color: var(--firsr);
    
}
.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;

}
.education .box-container .box{
    width:27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: 0.2rem solid var(--Dusty);
    position: relative;
}
.education .box-container .box span{
    font-size: 1.3rem;
    background-color: var(--rose);
    color:var(--corol);
    border-radius: 5rem;
    padding: 0.5rem 2.5rem;
}
.education .box-container .box h3{
    font-size: 2rem;
    color:var(--corol);
    padding-top: 1.5rem;
}
.education .box-container .box p{
    font-size: 1.4rem;
    color:var(--corol);
    padding-top: 1rem 0;
}
.education .box-container .box i{
    position: absolute;
    top:-1.5rem;
    left:-2.5rem;
    height: 5rem;
    width:5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:var(--firsr);
    background-color: var(--corol);
}
.protifolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}
.protifolio .box-container .box{
    height: 20rem;
    width:26rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;
}
.protifolio .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.protifolio .box-container .box:hover img{
    transform: scale(1.2);
}
.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.contact .row .content{
    flex: 1 1 45rem;
    padding: 4rem;
    padding-bottom: 0;
}
.contact .row form{
    flex: 1 1 45rem;
    padding:2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}
.contact .row form .box{
    padding: 1.5rem;
    margin:1rem 0;
    background-color: var(--corol);
    color:var(--firsr);
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
    outline: none;
    border: none;
    border-radius: 5rem;
}
.contact .row form .box-message{
    height: 15rem;
    resize: none;
    width:100%;
    background-color: var(--corol);
    font-size: 1.7rem;
    text-transform: none;
    outline: none;
    border: none;
    




}
.contact .row .content .titile{
    text-transform: uppercase;
    color:var(--Dusty);
    font-size: 3rem;
    padding-bottom: 2rem;
}
.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:var(--rose);
    padding: 1rem 0;
    font-weight: normal;

}
.contact .row .content .info h3 i{
    padding-right: 1rem;
    color: var(--Dusty);
}
.top{
    position: fixed;
    bottom: 7.5rem;
    right: 2rem;
    z-index: 100;
    
    display:none;
}
.top img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
   
    border: 0.7rem solid var(--Dusty);
}

@media (max-width:1200px) {
    html{
        font-size: 55%;
        overflow-x: hidden;
    }
    .home{
        padding: 1rem 4rem;
    }
    
}
@media (max-width:991px){
    header{
        left:-120%;

    }
    #menu{
        display: block;

    }
    header.toggle{
        left: 0%;
    }
    body{
        padding: 0;
    }
}
@media (max-width:768px){
    html{
        font-size: 50%;

        }

    
}
@media (max-width:400px){
    header{
        width: 100vw;

    }
    .heading{
        margin:0 3rem;
    }
    .about .row .counter .box{
        width:100%;
    }
    .education .box-container .box{
        width:100%;
    }
    .protifolio .box-container .box{
        width:100%;
    }
    .contact .row form{
        margin:3rem 0;
    }
    
}